:root {
  --text: #112D4E;
  --title:#3F72AF;
  --title-hover: #3063A0;
  --card: #DBE2EF;
  --card-hover: #CBD2E0;
  --back: #F9F7F7;
}

body {
  margin: 0;
  background-color: var(--back);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

